#my-avi {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    padding-top: 10px;
}

.about-me-links {
    display: inline
}

#about-me-container {
    background-color: #6d9eeb;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
    padding: 0px 60px 0px 60px;
    display: flex
}

#about-me-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#about-me-intro{
    padding: 10px 60px 0px 60px;
}

#about-me-logo{
    padding: 10px;
}
