#favorite-page{
    padding-top: 200px;
    height: 100vh;
    max-width: 100vw;
    background-color: #1167b1;
}

#fav-del-btn-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

#single-fav-container {
    border: solid #8e7cc3 4px;
    border-radius: 10px;
    padding: 0px 10px 5px 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#username-container-fav{
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-content: center; */
}

#username-container {
    display: flex;
    justify-content: center;
}

#fav-container-headline {
    color: #b4a7d6;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin: 20px 5px 5px 5px;
}
