#user-page {
        padding-top: 220px;
        height: 100vh;
        max-width: 100vw;
        background-color: #1167b1;
}

.headline {
    color: white;
    font-size: 3em;
    text-align: center;
    padding-bottom: 20px;
}

.container-headline {
    color: #b4a7d6;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin: 20px 5px 5px 5px;
}

#user-page-items-container{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
}

.user-page-container{
    border: solid #8e7cc3 4px;
    box-shadow: 5px 5px 5px #663a82;
    border-radius: 10px;
    padding: 0 10px 5px 10px;
}
