#main-page {
    padding-top: 200px;
    height: 100vh;
    max-width: 100vw;
    background-color: #1167b1;
}

#banner-container {
    max-width: 100%;
    max-height: 100%;
    padding: 0%;
    margin: 0 auto;
    background-color: #1167b1;
    padding: 0;
    display: flex;
    justify-content: center;
}

#main-page-welcome-text {
    color: white;
    font-size: 60px;
    margin: 0;
}

#main-page-welcome {
    max-width: 100%;
    max-height: 500px;
    text-align: center;
    background-color: #1167b1;
    padding-top: 10px;
}

#main-page-text {
    background-color: #1167b1;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

#main-page-button-container{
    display: flex;
    justify-content: space-evenly;
    margin: 75px 0px 105px 0px;
}

.big-button {
    width: 300px;
    height: 207px;
    font-size: 50px;
    background-color: #6d9eeb;
    border-radius: 5%;
    color:white;
    border-color: #4a86e8;
}

.big-button:hover {
    background-color: #8e7cc3;
}
