.main-page-text {
    position:relative;
}

#main-page {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

#logo {
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
}

#banner {
    grid-row: 1 / 2;
    grid-column: 1/ 6;
    max-width: 100%;
    max-height: 100%;
    padding: 0%;
    margin: 0;
}

#main-page-welcome {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
}

#main-page-listen {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#main-page-record {
    grid-row: 3 / 4;
    grid-column: 4 / 5;

}

#main-page-text {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
}

#about-me {
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}
