#recording-page {
    padding-top: 200px;
    height: 100%;
    max-width: 100vw;
    background-color: #1167b1;
}

#comment-page-container{
    border: solid #8e7cc3 4px;
    border-radius: 10px;
    padding: 0 10px 5px 10px;
    width: 750px;
}

#comment-container {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

#comment-form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.comment-form-input{
    height: 100px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 10px
}

#comment-button{
    width: 150px;
    height: 75px;
    background-color: #6d9eeb;
    color: white;
    font-size: 25px;
    margin: 50px 0 0 20px;
    border-radius: 10px;
}

#add-fave-btn-container{
    display: flex;
    justify-content: center;
}

#add-to-fave-button{
    width: 150px;
    height: 100px;
    background-color: #6d9eeb;
    color: white;
    font-size: 25px;
    margin: 0px 0 0 20px;
    border-radius: 10px;
}

#single-recording-user-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#single-rec-username{
    color: #b4a7d6;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    margin: 20px 5px 5px 5px;
}

#single-rec-headline{
        color: white;
        font-size: 3em;
        text-align: center;
        padding-bottom: 0px;
        margin: 0;
}

#audio-player-container{
    display:flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

#comment-container-items{
    color: white;
    font-size: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#comment-div{
    margin: 10px;
    border: solid #8e7cc3 4px;
    padding: 10px;
}
