#login-page {
    padding-top: 200px;
    height: 100vh;
    max-width: 100vw;
    background-color: #1167b1;
}

.input-form {
    width: 100%;
    background-color: violet;
    display: flex;
    padding: 30px;
}

.form-input {
    width: 500px;
    height: 75px;
}

.form-labels{
    color: white;
    font-size: 1.5em;
}
