#upload-page {
    padding-top: 200px;
    height: 100vh;
    max-width: 100vw;
    background-color: #1167b1;
}

#audio-buttons-container {
    max-width: 75vw;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 5px 240px
}

.audioBtn {
    border-radius: 50%;
    height: 200px;
    width: auto;
    background-color: #6d9eeb;
    color: white;
    font-size: 2em;
    margin-top: 20px;
}

.audioBtn:hover {
    background-color: #8e7cc3;
}

.audio-wave-bar {
    height: 250px;
    width: 100vw;
}

#upload-buttons-container {
    max-width: 75vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 1000px 5px 0px;

}

.audioPlayerBtn {
    background-color: #6d9eeb;
    color: white;
    font-size: 1.9em;
    border-radius: 10px;
    height: 70px;
}

.audioPlayerBtn:hover {
    background-color: #8e7cc3;
}

#audio-player {
    height: auto;
    padding: 50px 0px 10px 120px;
    display: flex;
    justify-content: left;
}

.audio-form-input {
    height: 70px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding-left: 5px;
}

#audio-form-input-container{
    display: flex;
    justify-content: left;
    padding: 60px 50px 0 10px;
}

.audio-form-labels {
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 0 10px 0 20px;

}

select, option {
    width: 250px;
    font-size: 1.5em;
    color: white;
    background-color: #6d9eeb;
    border-radius: 10px;
}

select:hover{
    background-color: #8e7cc3;
}

input {
    font-size: 30px;
}
