#nav {
    width: 100vw;
    max-height: auto;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    color: white;
    margin: 0;
    padding-top: 30px;

}

.nav-bar-item {
    color: white;
    font-size: 1.5em;
}

.nav-bar-item:hover {
    color: #8e7cc3;
}

.nav-btn {
    border-radius: 5px;
    width: 120px;
    font-size: 1.25em;
    background-color: #6d9eeb;
    border-color: #6d9eeb;
}

#logo {
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 100px;
    max-height: auto;
    border-radius: 50%;
}

#logo:hover {
    transform: scale(1.5);
}

.demo-btn {
    width: 200px;
    background-color: #8e7cc3;
    font-size: 2em;
}
.demo-btn:hover{
    background-color: #6d9eeb;
}

/* #nav-logo {
    align-self: flex-start;
} */
