

#nav {
    display: inline;
    width: auto;
    height: auto;
    display: grid;
    z-index: 1;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 'logo' 'my-profile' 'search' 'record-audio' 'logout' 'login' 'sign-up' 'demo-login';

}

.nav-bar-item {
    display: inline
}

/* #header {
    max-width: auto;
    max-height: 50px;
}

#header-image {
    width: auto;
    height: 200px;
    position:relative;
} */
